.App {
  text-align: left;
  font-size: 18px;
  height: 100vh;
  padding: 50px;
  background-color: dimgray; 
  color: gainsboro;
}
hr{
  border: 1px dashed #ddd;
}
button{
  padding: 12px 20px;
  font-size: 18px;
  letter-spacing: 1px;
  border: 0px;
  border-radius: 2px;
}
button:hover{
  opacity: .8;
}
/
